/* reset style */
*{
    padding: 0;
    margin: 0;
     font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
header{
    background-color: #FFFFFF;
}
nav{
    
    display: flex;
    justify-content: space-between;
   
    padding: 12px 0;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
ul {
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-right: 30px;

}
ul li a{
    text-decoration: none;
}
.logo{
    font-weight: bold;
    font-size: 32px;
    margin-left: 30px;
} 
.logo-i{
    color: #fd6e0a;
}
/* common button */
.common-button{
    background-color: #fd6e0a;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;

}
.common-button:hover{
    background-color: white;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
}

.outline-button{
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    cursor: pointer;
}
.outline-button:hover{
    background-color: #fd6e0a;
    color: #FFFFFF;
}
.container{
    max-width: auto;
    margin: auto;

}

.hero-parent{ display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 

.hero-right{ position: relative; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    right: 0;
}
.hero-left{
    margin-left: 30px;
}

 .bg-img{ position: absolute; 
    right: 0; bottom: 0; 
    width: 700px;
     z-index: 1; 
    } 

.person-img{ position: absolute; 
    right: 60px; 
    bottom: 0; 
    width: 400px; 
    z-index: 2; 
}

.person-img{ 
    position: absolute; 
    right: 60px; 
    bottom: 0; 
    width: 400px; 
    z-index: 2; 
}

.hero-parent-root{
    background-color: #fff8f3;
    width: 100%;

}
.hero-left h2{
    font-weight: bold;
    font-size: 40px;
}
.hero-left-p-1{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
}
.hero-left-p-2{
    font-size: 16px;
    margin-top: 10px;
}
.hero-left-btn-parent{
    margin-top: 12px;
}
/* about section */
.about-parent{
    background-color: #fff8f3;
    width: 85%;
    margin: 80px auto;
    border-radius:15px;
    padding: 60px 70px; 
    max-width: 1000px;
    
    text-align: center;

}
.about-parent p{
    margin: 10px 0;
}
.about-box-parent{
    margin: 20px;
}
.about-box-parent{

display: flex;
justify-content: space-between;
gap: 10px;

}
/* what i do section */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}

.what-i-do-parent h2{
    margin-bottom: 20px;
}
.what-i-do-card-conteiner{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.what-i-do-card{
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0,0,0,.06);
     transition: .3s;
}

.what-i-do-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.what-i-do-card-conteiner p{
    font-size: 160px;
}
.what-i-do-card img{
    width: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.what-i-do-parent h3{
    margin-bottom: 20px;
}
.what-i-do-parent p{
    margin-bottom: 50px;

}
.what-i-do-parent{
    max-width: 1000px;
}
.what-i-do-card-conteiner .what-i-do-card{
    text-align: left;
    }
.what-i-do-card-conteiner .what-i-do-card p {
    color: #A4A0A0;
    font-size: 16px;
}
.what-i-do-parent p {
    color: #A4A0A0;
    font-size: 18px;
}
.what-i-do-card-conteiner .what-i-do-card h2 {
   margin: 10px;
}

/* resume section */
.rsm-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;
    gap: 50px;
    padding: 20px 10%;
    max-width: 1000px;
}
.resume-section h2{
    text-align: center;
    margin-bottom: 30px;

}
.resume-container-1{
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 30px;
}
.resume-container-2{
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 30px;
}
.rsm-container.common-button{
    display: grid;
    justify-content: center;
}
.resume-container-1 p{
    margin-top: 20px;
    color: #666;
}

.resume-container-2 p{
    margin-top: 20px;
    color: #666;
}

.cv-btn{
    text-align: center;
    margin-top: 30px;
}
.cv-btn .common-button{
     padding: 8px 16px;
     font-size: 16px;
}

/* my amazing section */
.my-amazing{
    text-align: center;
    max-width: 1000px;
}
.my-amazing h2{
    margin-top: 80px;
}
.gellary{
    margin-top: 30px;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas: "one two three"
    "four two six"
     "four five six";
    
}
.gellary img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.photo-1 {
    grid-area: one;
}

.photo-2 {
    grid-area: two;
}

.photo-3 {
    grid-area: three;
}

.photo-4 {
    grid-area: four;
}

.photo-5 {
    grid-area: five;
}

.photo-6 {
    grid-area: six;
}
/* footer */
footer{
    text-align: center;
    margin-top: 100px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color:#fff8f3 ;
    padding: 80px 20px 20px;
}

footer form{
    padding: 30px;
}

footer form input, textarea{
    border: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
    display: block;
    width: 80%;
    margin-bottom: 10px;
}
.footer-left p{
    margin: 10px 0;
    color: #A4A0A0;
    font-size: 16px;
}
.footer-left h2{
    margin-bottom: 10px;
}
.footer-right button {
    align-self: flex-start;
}
.footer-right{
    text-align: left;
}
.footer-right h2 {

    margin-left: 40px;
}

.icon{
    margin-top: 30px;
}
.footer-right button{
    margin-top: 10px;
}

